*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    font-family: "Raleway";
    font-size: 10px;
    font-weight: 700;
    gap: 13px;
    padding-left: 24px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.img{
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

h2{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.container p{
    font-family: "Roboto";
    font-size: 300;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    color: #575F6E;
}

.container{
   padding-top: 48px;
   align-items: center;
   justify-items: center;
}

.editar{
    background-color: #EFF7FF;
    height: 80px;
    width: 100%;
    max-width: 456px;
   display: flex;
   justify-content: space-between;
   padding: 16px 24px;
}

.editar h3{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}

form{
    padding-top: 32px;
}

label{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}

input{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    height: 44px;
    width: 326px;
    border: none;
}

.email{
    width: 326px;
    height: 72px;
}

.senha{
    width: 326px;
    height: 72px;
}

.password{
color: #34C759;;
display: flex;
}
.password p{
 color: #34C759;
}

button a{
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

button{
    color: #EFF7FF;
    border: none;
    border-radius: 4px;
    border-width: 1px;
    background-color: #007AFF;
    height: 48px;
    width: 169px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
}

.button{
    padding-top: 32px;
    display: flex;
    align-items: center;
   justify-content: center;
}

@media(min-width:749px){
main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}