*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    font-family: "Raleway";
    font-size: 10px;
    font-weight: 700;
    gap: 13px;
    padding-left: 24px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.img{
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

h2{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.container p{
    display: flex;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    color: #575F6E;
}

.container{
   padding-top: 48px;
   align-items: center;
   justify-items: center;
   justify-content: center;
    flex-direction: column;
}

fieldset{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    
   
}

fieldset h3, h4{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
}

fieldset span{
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 300;
   color: #575F6E;
}
.contatos input{
    width: 250px;
    padding: 16px 8px;
}

.email{
    padding-top: 32px;
    padding-bottom: 32px;
}

.social{
    padding-top: 48px;
    padding-bottom: 32px;
}

.s{
    padding-top: 32px;
    padding-bottom: 32px;
}
.social input{
    width: 250px;
    padding: 16px 8px;
}

.social .facebook{
    padding-bottom: 32px;
}
.more{
    color: #007AFF;
}

.more span{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: #007AFF;
}
input{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    height: 44px;
    width: 326px;
    border: none;
}

.preencher{
    width: 100%;
}

button{
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-width: 1px;
    height: 48px;
    width: 169px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    
    
}

.button{
    display: flex;
    align-items: center;
   justify-content: center;
   padding-bottom: 40px;
   padding-top: 32px;
}


button a{
    text-decoration: none;
    color: #000000;
}

@media(min-width:749px){
main .container{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    padding-left: 38%;
}
}