*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    font-family: "Raleway";
    font-size: 10px;
    font-weight: 700;
    gap: 13px;
    padding-left: 24px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.img{
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

h2{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.container p{
    font-family: "Roboto";
    font-size: 300;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    color: #575F6E;
}

.container{
   padding-top: 48px;
   align-items: center;
   justify-items: center;
}

.excluir{
    padding-top: 32px;
    display: flex;
    padding: 16px 24px;
    background-color: #F0F2F4;
    height: 86px;
    padding-bottom: 32px;
}

.excluir img{
    width: 24px;
    height: 24px;
}

.excluir p{
    font-family: "Roboto";
    color: #242426;
}

form{
    padding-top: 32px;
    
}

label{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}

.escolha-card{
    padding-top: 32px;
}
select{
    height: 44px;
    width: 80px;
    border: none;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
}

input{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    height: 44px;
    width: 230px;
    border: none;

}

button{
    border-color: #BBBFC1;
    border-radius: 4px;
    border-width: 1px;
    background-color: transparent;
    height: 48px;
    width: 137px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
}

.button{
    padding-top: 32px;
    display: flex;
    align-items: center;
   justify-content: center;
}

@media(width:749px){

.container{
    display:flex;
    float: left;

}
}