*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    font-family: "Raleway";
    font-size: 10px;
    font-weight: 700;
    gap: 13px;
    padding-left: 24px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.img{
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

h2{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.container p{
    display: flex;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    color: #575F6E;
}

.container{
   padding-top: 48px;
   align-items: center;
   justify-items: center;
   justify-content: center;
    flex-direction: column;
}

fieldset{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    width: 100%;
}

.info h3{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}

.info span{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
}

fieldset label{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    padding-top: 32px;
}

fieldset input{
    width: 326px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    padding: 16px 8px;
}

.local select{
    width: 326px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
}

.local
{
    padding-bottom: 32px;
}

.country{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 72px;
}

fieldset span{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}
.country input, select{
width: 147px;
height: 44px;

}

.paises input{
    padding: 16px 8px;
}

.country{
    gap: 32px;
}

.paises-card{
    display: flex;
    gap: 40%;
}
input{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    height: 44px;
    width: 326px;
    border: none;
}

.preencher{
    width: 100%;
}

button{
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-width: 1px;
    height: 48px;
    width: 169px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    background-color: #007AFF;
    border: none;
    
}

.button{
    display: flex;
    align-items: center;
   justify-content: center;
   padding-bottom: 40px;
   padding-top: 32px;
}

@media(min-width:749px){
main .container{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    padding-left: 38%;
}
}